/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */


html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

/* body{
    font-family: 'Poppins', sans-serif;
} */

.item:hover{
    background-color: black;
    color: white;
}

button:hover{
    background-color: #096cff;
}